body {
    background: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Space Grotesk';
    font-weight: 500px;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartoes {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 700px;
}

.pai-cartao-frente {
    position: relative;
    width: 75%;
    top: 100px;
    left: 80px;
}

#cartao-frente {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
}

#icone-cartao {
    position: absolute;
    top: 20px;
    left: 35px;
}

#numero-no-cartao {
    position: absolute;
    top: 140px;
    left: 53px;
    font-size: 30px;
    color: whitesmoke;
}

#nome-no-cartao {
    position: absolute;
    top: 195px;
    left: 55px;
    font-size: 22px;
    color: whitesmoke;
}

#data-no-cartao {
    position: absolute;
    top: 195px;
    left: 320px;
    font-size: 22px;
    color: whitesmoke;
}

.pai-cartao-verso {
    position: relative;
    width: 75%;
    top: 140px;
    left: 190px;
}

#cartao-verso {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
}

.filho-cartao-verso {
    position: absolute;
    top: 107px;
    left: 345px;
    font-size: 22px;
    color: whitesmoke;
}

.preenchimento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    width: 38%;
    margin-right: 12%;
}

.formulario {
    width: 350px;
}

.preenche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bolder;
}

.preenche-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.preenche-data-cvc {
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.preenche-data {
    display: flex;
    flex-direction: row;
}

.mes-ano {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.cvc {
    width: 50px;
}

.preenche-cvc {
    display: flex;
    flex-direction: row;
}

.mensagem-final {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.campo {
    margin: 15px;
	width: 100%;
	border: 1px solid #ccc;
	padding: 1em;
    font-family: 'Space Grotesk';
    border-radius: 20px;
}

.campo-data {
    margin: 15px;
	border: 1px solid #ccc;
	padding: 1em;
    width: 50px;
    font-family: 'Space Grotesk';
    border-radius: 15px;
}

.botao {
    color: hsl(224, 60%, 92%);
    background-color: hsl(228, 45%, 44%);
    padding: 1rem 10rem;
    text-align: center;
    display: inline-block;
    outline: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.20s ease-in-out;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    font-family: 'Space Grotesk';
    font-size: inherit;
    border-radius: 40px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

